INVOICE_BASE_FOLDER=C:\Users\lalom\OneDrive\שולחן העבודה\LALUM\חשבוניות
INVOICE_SUBJECT_KEYWORDS=invoice,חשבונית
INVOICE_ALLOWED_EXT=.pdf,.PDF
IMAP1_HOST=
IMAP1_PORT=993
IMAP1_USER=
IMAP1_PASSWORD=
IMAP2_HOST=
IMAP2_PORT=993
IMAP2_USER=
IMAP2_PASSWORD=
SMTP_HOST=
SMTP_PORT=465
SMTP_USER=
SMTP_PASSWORD=
ACCOUNTING_EMAIL=
ACCOUNTING_SUBJECT=סיכום חשבוניות
